 
.topo {
    position: fixed;
    background-color: #FAF6F0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-bottom: solid;
}


h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #4b2e2e;
}

.filtro {
    width: 5rem;
    height:5rem;
}

.escolha {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #fdf6ec;
    border-radius: 0rem;
    padding: 1rem;
    
}

li:hover {
    background-color: #D97E58;
}

li:hover .escolha {
    background-color: #D97E58;
}

ul{
    margin-top: 6rem;
}

li {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #fdf6ec;
    border-radius: 3rem;
    padding: 1rem;
    border: 0.3rem solid black;
}



main {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #fdf6ec;
    padding: 1rem;
    border: solid black;
}



footer {
    display: flex;
    position:fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 100vw;
    height: 10vw;
    background: #fff0db;
    border-top: solid black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}


.botoes{
    display: flex;
    align-items: center;
}

img {
    width: 5rem;
    height: 5rem;
}